# Generic UE4 stuff
Binaries/
DerivedDataCache
Intermediate
.kdev4/
.clang/
.codelite/
.vs/
Build
Debug
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.pro.user
*.autosave
*.pro
*.kdev4
*.workspace
*CodeCompletionFolders.txt
*CodeLitePreProcessor.txt
*.pri
.directory
CMakeLists.txt
Makefile
